//
//  Sample.xcconfig
//  Music Stats iOS
//
//  Created by Brandon Lamer-Connolly on 7/18/24.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974
SPOTIFY_API_CLIENT_ID =
REDIRECT_URI_SCHEME =
REDIRECT_URI_HOST =
BACKEND_API_URL =
